{
  "dev":,
  "TX_ACCOUNT_PRIVATE_KEY1": "",
  "TX_ACCOUNT_PRIVATE_KEY2": "",
  "TX_ACCOUNT_PRIVATE_KEY3": "",
  "TX_ACCOUNT_PRIVATE_KEY4": "",
  "STATIC_BALANCE_ACCOUNT_PRIVATE_KEY": "",
  "ONGOING_STREAM_ACCOUNT_PRIVATE_KEY": ""
}
